addict
future
lmdb
numpy>=1.17
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
torch>=1.7
torchvision
tqdm
yapf
tifffile==2024.7.24
scikit-image==0.24.0
opencv-python==4.8.0.74
rasterio==1.4.3
torch_tb_profiler